.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;

  &_top-logo, &_top-text {
    text-align: center;
  }

  &_top-text {
    color: @gray;
    margin: 2.5em 0 2em 0;

    &_title, &_subtitle {
      font-weight: 500;
    }

    &_title {
      font-size: 38px;
    }

    &_subtitle {
      color: @veryDarkBlue;
      margin: 1.2em;
    }
  }

  &_image {
    text-align: center;
    padding: 2em 0;
    width: 100%;
    &-img {
      max-width: 50%;
    }
  }
}

.form {
  &_input, &_btn {
    border-radius: 30px;
    height: 45px;
  }

  &_input {
    margin: .8em 0 .8em 0;
    border: 1px solid @gray;
    color: @gray;
    width: 350px;
    padding: 15px;
  }

  &_btn {
    background: @primary;
    color: #ffffff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 0 50px;
    font-size: 15px;
    margin-left: 10px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;

  &_cpr {
    color: @gray;
    margin-top: 3em;
  }

  &_social-media {
    text-align: center;
    &--item {
      color: @primary;
      margin: 10px 10px;
    }
  }
}