/** Personal maniac fix **/
@media screen and (max-width: 768px) {
  .landing_image-img {
    max-width: 80%;
  }
}

@media screen and (max-width: 528px) {
  .form {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .landing_top-text_title {
    font-size: 35px;
  }
}

@media screen and (max-width: 320px) {
  .form_input {
    width: 300px;
  }
}