@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap");

@import "_variables";
@import "_utilities";
@import "_main";
@import "_responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body, html {
  font-family: 'Libre Franklin', sans-serif;
  height: 100vh;
}