@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(https://fonts.gstatic.com/s/librefranklin/v4/jizAREVItHgc8qDIbSTKq4XkRi20-SI0q14.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'), url(https://fonts.gstatic.com/s/librefranklin/v4/jizAREVItHgc8qDIbSTKq4XkRi3A_yI0q14.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'), url(https://fonts.gstatic.com/s/librefranklin/v4/jizAREVItHgc8qDIbSTKq4XkRi2k_iI0q14.ttf) format('truetype');
}
.span {
  color: #000000;
  font-weight: bold;
}
/** Error's class **/
.error {
  text-align: center;
  color: #ff5263;
}
input.error-input {
  border: 1px solid #ff5263;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.landing_top-logo,
.landing_top-text {
  text-align: center;
}
.landing_top-text {
  color: #8c8c8c;
  margin: 2.5em 0 2em 0;
}
.landing_top-text_title,
.landing_top-text_subtitle {
  font-weight: 500;
}
.landing_top-text_title {
  font-size: 38px;
}
.landing_top-text_subtitle {
  color: #151f29;
  margin: 1.2em;
}
.landing_image {
  text-align: center;
  padding: 2em 0;
  width: 100%;
}
.landing_image-img {
  max-width: 50%;
}
.form_input,
.form_btn {
  border-radius: 30px;
  height: 45px;
}
.form_input {
  margin: 0.8em 0 0.8em 0;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  width: 350px;
  padding: 15px;
}
.form_btn {
  background: #4f7df3;
  color: #ffffff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 0 50px;
  font-size: 15px;
  margin-left: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
}
.footer_cpr {
  color: #8c8c8c;
  margin-top: 3em;
}
.footer_social-media {
  text-align: center;
}
.footer_social-media--item {
  color: #4f7df3;
  margin: 10px 10px;
}
/** Personal maniac fix **/
@media screen and (max-width: 768px) {
  .landing_image-img {
    max-width: 80%;
  }
}
@media screen and (max-width: 528px) {
  .form {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .landing_top-text_title {
    font-size: 35px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body,
html {
  font-family: 'Libre Franklin', sans-serif;
  height: 100vh;
}
